<%- include("partials/_header") %>
   <!-- body -->

   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->

      <!-- header -->
      <%- include("partials/_menu") %>
         <!-- end header inner -->
         <!-- contact -->
         <div class="contact">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 ">
                     <div class="titlepage text_align_center">
                        <h2>Send a Message</h2>
                     </div>
                  </div>
                  <div class="col-md-8 offset-md-2">
                     <form id="request" class="main_form" action="/contact" method="POST" onsubmit="document.getElementById('submitButton').disabled=true;">

                        <div class="col-md-12">
                           <div style="display:none ;" class="alert alert-success" id="sendMessage"></div>
                        </div>

                        <div class="row">
                           <div class="col-md-12">
                              <input class="form_control" placeholder="Your name" type="text" name="name"
                                 id="nameplace">
                           </div>
                           <div class="col-md-12">
                              <input class="form_control" placeholder="Email" type="email" name="email" id="emailplace">
                           </div>
                           <div class="col-md-12">
                              <div style="display: none;" class="alert alert-danger" id="emailerror">Enter a valid email
                              </div>
                           </div>
                           <div class="col-md-12">
                              <input class="form_control" placeholder="Message" type="type" name="message"
                                 id="messageplace">
                           </div>
                           <div class="col-md-12">
                              <div class="group_form">
                                 <input id="submitButton" style="width: 80px; height: 45px;" type="submit" value="Send" disabled />
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <!-- end contact -->
         <!-- end footer -->

         <script>

            const form = document.querySelector('form')
            const sendMessage = document.querySelector('#sendMessage')

            form.addEventListener("submit", async (e) => {
               e.preventDefault();


               const name = form.name.value
               const email = form.email.value
               const message = form.message.value

               try {
                  const res = await fetch('/contact', {
                     method: "POST",
                     body: JSON.stringify({ name, email, message }),
                     headers: { "Content-Type": "application/json" }
                  })

                  const data = await res.json();

                  console.log("DATA", data)

                  if (data.succeeded) {

                     sendMessage.textContent = "Your Message Received Successfully"
                     sendMessage.style.display = "block"
                     form.name.value = ""
                     form.email.value = ""
                     form.message.value = ""
                     submitButton.disabled = true;
                     submitButton.value = "Send";

                     setTimeout(() => {
                        sendMessage.style.display = "none"
                        


                     }, 5000)



                  }


               } catch (err) {
                  console.log("ERR::", err)
               }
            })
            
          
      
          </script>


<footer>
   <div class="footer">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <ul class="menu_footer">
             <li><a class="active" href="/">Home</a></li>
             <li><a href="/about">About</a></li>
             <li><a href="/photos">Photos</a></li>
             <li><a href="/users">Users</a></li>
             <li><a href="/contact">Contact</a></li>
           </ul>
         </div>
         <div class="col-md-12">
           <ul class="top_infomation">
             <li><a href="javascript:void(0)"><i><img src="/images/loc.png" alt="#" /></i></a></li>
             <li><a href="javascript:void(0)"><i><img src="/images/call.png" alt="#" /></i></a></li>
             <li><a href="javascript:void(0)"><i><img src="/images/mail.png" alt="#" /></i></a></li>
           </ul>
         </div>
       </div>
     </div>
     <div class="copyright">
       <div class="container">
         <div class="row d_flex">
           <div class="col-md-8">
             <p>© 2023 All Rights Reserved </p>
           </div>
           <div class="col-md-4">
             <ul class="social_icon_bottom ">
               <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
               </li>
               <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
               <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </footer>
 <!-- end footer -->
 <!-- Javascript files-->
 <script src="/js/jquery.min.js"></script>
 <script src="/js/bootstrap.bundle.min.js"></script>
 <script src="/js/jquery-3.0.0.min.js"></script>
 <script src="/js/owl.carousel.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
 <script src="/js/custom.js"></script>
 <script src="/js/contactcustom.js"></script>
 <script type="text/javascript">
   baguetteBox.run('.tz-gallery');
 </script>
 </body>
 
 </html>